/*Variables*/
:root{
    --color-principal: #B1B2FF;
    --color-secundario: #B1B2FF;
    --color-fondos: #EEF1FF;
    --color-texto: #52545e;
    --color-tittle: #373d5e;
}



/*Estilos generales*/

html{
    font-size: 10px;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins','helvetica';
    font-size: 1.5rem;
    background-color: var(--color-fondos);
    color: var(--color-texto);
    overflow: hidden;
}

h1, h2,h3, h4, h5, h6{
    color: var(--color-tittle);
}

/*Imagen de fondo*/
body{
    background-color: rgba(0, 0, 0, 0.212) ;
    background-image: url(./assets/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20 -120;
}


/*Estructura Principal*/

.layout{
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: 
        "aside content";
    grid-template-columns: 30% 70%;

    /*Sombra*/
    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.781);

}


/*Barra Lateral azul*/
.layout__aside{
    grid-area: aside;

    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}


.aside__user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-secundario);
    color: var(--color-fondos);
}

.user-info__container-image{
    position: relative;
    display: inline-block;
    margin-top: 7rem;
    border-radius: 20rem;
    width: 200px;
    height: 200px;
    overflow: hidden;
    
}



.user-info__image{
    width: 100%;
    background-color: var(--color-principal);
    border: 3px solid var(--color-principal);
    transform: translate(0%, -10%) scale(0.9);
    z-index: 1;
    
    
}

.user-info__container-image::after{
    content: "hola";
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 9%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center,red, #fff 1px,transparent 0px,transparent 100%);
    background-size: 0.6rem 0.6rem;
    border-radius: 30rem;

}

.user-info__name{
    margin-top: 2.6rem;
    color: var(--color-fondos);
    font-size: 3.2rem;
    font-weight: bold;
}


.user-info__job{
    font-size: 1.7re;
    font-weight: 200;
    color: var(--color-fondos);
}




.user-info__links{
    margin-bottom: 3.6rem;
}

.links__social{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.social__option{
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out ;
}

.social__option:hover{
    opacity: 1;
    background-color: rgba(183, 0, 255, 0.233);
}

.layout__menu{
    display: none;
}

.user-info__footer{
    margin-top: 2re;
    margin-bottom: 4rem;

}

.user-info__btn{
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 3.2rem;
    border: 2px solid white;
    color: var(--color-fondos);
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.22) ;
    transition: all 0.3s ease-in-out;
}

.user-info__btn:hover{
    background-color: var(--color-fondos);
    color: var(--color-principal);
    border: 2px solid var(--color-principal);
}

.user-info__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}

/*Contenido principal*/

.layout__content{
    grid-area: content;
}

